.body{
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 2592px;
    background: #fff;
    /* border: 2px solid red; */
}

/*NAV MENU -- TOP LINE*/

.top-line{
    width: 1440px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    flex-shrink: 0;
    position: fixed;
    display: inline-flex
    
    
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
    display: inline-flex;
    flex-shrink: 0;
    margin-left: 156px;
    margin-top: 25.5px;
    
    
    
    
}

.web{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    line-height: 21px; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    width: 44px;
    text-decoration: none;
}

.studio{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;  
    line-height: 21px; 
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);
    width: 71px;
    text-decoration: none;
}

.menu-nav{
    /* display: flex; */
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    
    width: 261px;
    height: 24px;
    margin-left: 76px;
    margin-top: 25.5px;
    
}

.studio2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    text-decoration: none;
    
}

.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-left: 40px;
    text-decoration: none;
    }

.contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-left: 40px;
    text-decoration: none;
    }

.email-phone{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 25.5px;      
}

.email{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-left: 332px;
    text-decoration: none;   
}

.phone{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-left: 40px;
    text-decoration: none; 
}

.top-line a:hover,
header.top-line a:focus {
    color: blue;
}

/* --HERO IMAGE-- */

.hero-image{
    width: 1440px;
    height: 600px;
    background: var(--NAVY-BLUE, #2E2F42);
    flex-shrink: 0;
    margin-top: 72px;  
}

.effective-solutions-for-your-business{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    line-height: 60px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--WHITE, #FFF);
    padding-top: 188px;
    
    
    
}

.button{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    align-items: center;
    justify-content: center;  
    margin-left: 600px;
    margin-bottom: 188px;
    
}

.order-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFF);
    background: #4d5ae5; 
    border: none;
    cursor: pointer;
    
}

/*SECTION 1*/

.section1{
    width: 1128px;
    height: 104px;
    flex-shrink: 0;
    margin-top: 120px;
    margin-left: 156px;
    display: flex;

}

.feature1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}

.strategy{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-top: 0px;
    
    
}

.text1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-top: -15px;
    
}

.feature2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin-left: 24px;
}

.punctuality{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-top: 0px;
    
    
}

.text2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-top: -15px;
}

.feature3{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin-left: 24px;
}

.diligence{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-top: 0px;
    
}

.text3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-top: -15px;
}

.feature4{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin-left: 24px;
}

.tehnologies{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-top: 0px;
    
}

.text4{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    margin-top: -15px;
}

/*SECTION 2*/

.section2{
    width: 1128px;
    height: 412px;
    flex-shrink: 0;
    
}

.what-are-we-doing{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 40px; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
        /* text-align: center; */
        margin-top: 400px;
        color: var(--NAVY-BLUE, #2E2F42);
        margin-left: 559px;
        margin-top: 120px;
}

.img-1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 300px;
    margin-top: 72px;
    margin-left: 156px;
}

.img-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 300px;
    margin-top: 0px;
    margin-left: 540px;
    margin-top: -300px;
}

.img-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 300px;
    margin-left: 924px;
    margin-top: -300px;
}

.rectangle-71{
    border: 1px solid #e7e9fc;
    width: 360px;
    height: 300px;
}

/*SECTION 3 */

.section3{
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    flex-shrink: 0;
    display: flex;
    margin-top: 120px;
    

}

.our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 40px; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-top: 120px;
    margin-left: 639px;
    

}

.team-card1{
    
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    margin-top: 232px;
    
    
    
}

.img{
    width: 264px;
    height: 260px;
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
    
}

.card-content{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 232px;
    height: 56px;
    
    /* margin-top: 232px; */
}

.name{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    
}

.job-description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--SLATE, #434455);
    
}


.pepole{
    margin-left: -800px;
}



.section3 li{
    display: inline-block;
    list-style-type: none;
        
}

.section3 h3:hover,
.section3 h3:focus,
.section3 p:hover,
.section3 p:focus {
    color: red;
}
/*FOOTER*/

.footer{
    width: 1440px;
    height: 312px;
    background: #2e2f42;
    flex-shrink: 0;
}

.text-footer{
    width: 264px;
    height: 112px;
    flex-shrink: 0;
}

.logo1{
    display: inline-flex;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    gap: 0px;
    width: 115px;
    height: 24px;
}

.web1{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    line-height: 21px; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    display: flex;
    width: 44px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
}

.studio1{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    line-height: 21px; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
    display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center
}

.text5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    width: 264px;
}